.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  color: #fff;
  /*padding: 1rem;*/
}

.navbar a {
  text-decoration: none;
  color: white;
}

.nav-links {
  display: flex;
  gap: 25px;
  list-style-type: none;
  padding-top: 1rem;
  align-items: center;
}

.navbar-left .logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

/*
.navbar-center .nav-links {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-center .nav-links li {
  margin-right: 1rem;
}

.navbar-center .nav-links a {
  color: #fff;
  text-decoration: none;
} */

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-right .cart-icon,
.navbar-right .user-icon {
  color: #fff;
  text-decoration: none;
  margin-left: 1rem;
  position: relative;
}

.navbar-right .cart-count {
  background-color: #f44336;
  color: #fff;
  border-radius: 50%;
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
}

.navbar-right .get-started {
  /* This makes the <a> tag behave like a button for styling */
  display: inline-block;
  
  /* Colors */
  background-color: #0061fe;
  color: white;

  /* Shape & Spacing */
  padding: 15px 30px;
  border-radius: 30px;

  /* Typography */
  font-size: 18px;
  font-weight: 600;
  font-family: sans-serif;
  text-decoration: none; /* Removes the default link underline */

  /* Interactivity */
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.get-started-btn:hover {
  background-color: #357ABD;
}
